
/* Custom style */

.ant-layout-header{
  background: #fff;
  height: 88px;
}

.ant-layout-header .anticon-shopping-cart{
  font-size: 30px;
}

.ant-layout-footer{
  background: #fff;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.products .ant-card-cover {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}

.products .product .ant-card-cover > img {
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: auto;
}

.products .product .ant-card{
  border-radius: 6px;
  overflow: hidden;
}


.products .product .ant-card .ant-card-body{
  border-top: 1px solid #f0f0f0;
}

.products .product .ant-card .ant-card-meta-description .category{
  float: left;
  text-transform: capitalize;
}

.products .product .ant-card .ant-card-meta-description .ant-tag{
  float: right;
  font-weight: bold;
}